<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Salty Tracker</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-pink.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

{{{body}}}

</body>

<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
</html>